<div class="tasks-index">
<h1>ToDo一覧</h1>
<table class="task-table">
  <thead>
    <tr>
      <th>| todo </th>
      <th>| category |</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-table-column"><%= task.title %></td>
        <td class="task-table-column"><%= task.category %></td>
        <td class="task-table-column task-table-column-edit"><%= link_to '編集', edit_task_path(task) %></td>
        <td class="task-table-column"><%= button_to '削除', task_path(task), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to '追加', new_task_path, class: "add-new-task-button" %>
</div>