<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodoSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("RailsToDoApp", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("ToDo一覧", "/posts/new") %>
        </li>
        <li>
          <%= link_to("カテゴリー一覧", "/posts/index") %>
        </li>
      </ul>
    </header>
    <div class="tasks-area">
      <%= yield %>
    </div>
  </body>
</html>